*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

a{
  text-decoration: none;
}

/* header */

/* nav */
nav{
  height: 70px;
  width: 100vw;
  line-height: 70px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
}

.nav a{
  color: black;
  display: inline-block;
}

.nav-left{
  padding-left: 10px;
  float: left;
}

.nav-left a img{
  vertical-align: middle;
}

.left-menu{
  float: left;
}

.left-menu ul{
  list-style: none;
}

.left-menu ul li{
  float: left;
  margin-left: 25px;
}

.nav-right{
  float: right;
  margin-right: 15px;
}

.btn{
  background-color: #0861FF;
  outline: none;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 5px 15px;
  border: solid 1px #0861FF;
}

.btn a{
  color: white;
  display: inline-block;
}

.btn:hover{
  background-color: #317cff;
  border: solid 1px #317cff
}

.right-menu{
  float: right;
}

.right-menu ul{
  list-style: none;
}

.right-menu ul li{
  float: left;
  margin-right: 25px;
}

/* jumbotron */

.jumbotron{
  width: 100vw;
  max-height: 800px;
  background-color: #B4D0E7;
  margin-top: 70px;
}

#title{
  width: 85%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 30pxx;
}

.jumbotron h1{
  font-size: 85px;
}

.main-jumbo{
  width: 85%;
  margin: 65px auto;
}

#text-jumbo, #img-jumbo{
  float: left;
}

#text-jumbo{
  width: 30%;
}

#img-jumbo{
  width: 70%;
}

#img-jumbo img{
 width: 100%;
}

#text-jumbo .btn{
  margin-top: 20px;
}

#ancora{
  margin-top: 20px;
  font-size: 40px;
}

#ancora a{
  color: black;
}

/* main */

/* intro container */

.container{
  width: 75%;
  margin:100px auto;
  background-color: #F3F4F5;
}

.container h2{
  font-size: 40px;
  margin-bottom: 40px;
}

#fattura-annuale{
  margin-left: 10px;
}

.intro-container{
  margin-bottom: 20px;
}
/* /intro container */

/* piani d'acquisto */

.plan aside{
  float: left;
  width: 30%;
  min-height: 1100px;
  border: 1px solid #DEDFE1;
}

#professional-plan, #standard-plan{
  margin-right: 5%;
}

.top-aside{
  text-align: center;
  width: 100%;
  border-bottom:1px solid #DEDFE1;
  padding: 7px 0;
}

.top-aside span{
  margin-left: 3px;
}

.main-aside{
  padding: 20px 20px;
}

.main-aside h3{
  font-size: 30px;
}

.main-aside h5{
  padding: 10px 0;
}

.main-aside button{
  padding: 5px 65px;
  margin-top: 25px;
}

.mensilità{
  color: grey;
  font-size: 13px;
  padding-bottom: 20px;
}

.main-aside ul{
  padding: 0 20px 0 0;
}

.main-aside li{
  padding-bottom: 10px;
  list-style: none;
}

.buy-now{
  margin-top: 20px;
}

.buy-now a{
  text-decoration: underline;
  color: #317cff;
}

.middle-line{
  height: 1px;
  width: 30%;
  border-bottom:solid 1px #c5c5c5;
  margin: 20px 0;
}

.main-aside h4{
  margin-bottom: 20px;
}

.fa-check{
  color: #0861FF;
}

#bottom-plan{
  width: 100%;
  height: 300px;
  border:solid 1px #DEDFE1;
  margin-top: 40px;
}

#entreprise{
  float: left;
}

#bottom-plan .clearfix button{
  float: right;
}

#bottom-plan .clearfix{
  padding: 20px 20px;
}




















.partners{
  width: 100vw;
  height: 400px;
  background-color: #2DA44E;
}

.free-trial{
  width: 100vw;
  height: 400px;
  background-color: tomato;
}

.faq{
  height: 700px;
}

/* footer */

footer{
  width: 100vw;
  height: 400px;
  background-color: black;
}